[submodule "API_GATEWAY_UPA_FACIL"]
	path = API_GATEWAY_UPA_FACIL
	url = https://github.com/Felipewiiu/API_GATEWAY_UPA_FACIL.git
[submodule "MS-FILTRO-UNIDADE-ATENDIMENTO"]
	path = MS-FILTRO-UNIDADE-ATENDIMENTO
	url = https://github.com/Felipewiiu/MS-FILTRO-UNIDADE-ATENDIMENTO.git
[submodule "EUREKA-SERVER-UPA-FACIL"]
	path = EUREKA-SERVER-UPA-FACIL
	url = https://github.com/Felipewiiu/EUREKA-SERVER-UPA-FACIL.git
